In [1]:
#DICTIONARY

In [2]:
#CREAT DICTIONARY

In [4]:
mydict=dict()#empty dictionary
mydict

{}

In [5]:
mydict={}
mydict

{}

In [7]:
mydict=({1:'one',2:'two',3:'three'}) # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [8]:
mydict=dict({1:'one',2:'two',3:'three'})#creat dictonary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [9]:
 
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys 
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [10]:
 
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys 
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [11]:
 
mydict.keys() # Return Dictionary Keys using keys() metho

dict_keys(['A', 'B', 'C'])

In [12]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [13]:
 
mydict.items() # Access each key-value pair within a dictionary

dict_items([('A', 'one'), ('B', 'two'), ('C', 'three')])

In [16]:
 
mydict = {1:'one' , 2:'two' , 'A':['ayyappa' , 'lavanya' , 'satya']} # dictionary with
mydict

{1: 'one', 2: 'two', 'A': ['ayyappa', 'lavanya', 'satya']}

In [18]:
 
mydict = {1:'one' , 2:'two' , 'A':['ayyappa' , 'lavanya' , 'mamu']} # dictionary with
mydict

{1: 'one', 2: 'two', 'A': ['ayyappa', 'lavanya', 'mamu']}

In [23]:
mydict = {1:'one' , 2:'two' , 'A':['satya' , 'jaya' , 'mango'], 'B':('Bat' , 'cat')}
mydict

{1: 'one', 2: 'two', 'A': ['satya', 'jaya', 'mango'], 'B': ('Bat', 'cat')}

In [1]:
print(5%20)

5

In [1]:
print((4+5)*5**(4-2));

225

In [2]:
str = "GFG"
print(not (not(str and "")))

False

In [3]:
print(oct(23)+oct(23))

0o270o27

In [4]:
print(~(~2))

2

In [5]:
i = 0
while i < 3:
       print(i)
       i++
       print(i+1)

SyntaxError: invalid syntax (1418976369.py, line 4)