In [1]:
txt = "abc def ghi"
txt.lstrip()

'abc def ghi'

In [3]:
itself = "My favourtie person is \"Game of thrones\""
print(itself)

My favourtie person is "Game of thrones"

In [4]:
list1 = []
print(type(list1))

<class 'list'>

In [ ]:
list2 =[10,20,30]#list of integers

In [7]:
list3 = [10.77,30,66,70,89]#list of float numbers

In [8]:
list4 = ['one','two',"three"]#list of strings

In [9]:
list5 = ['Ayyappa',25,[50,200],[150,90]]#nested lists

In [10]:
list6 = [100,'ayyappa',17.765]#list of mixed data types

In [14]:
list7 = ['lavanya',25,[50,100],{'john','david'}]

In [16]:
len(list6)#lenhth of list

3

In [17]:
list2[0]# retreive first element of the list

10

In [18]:
list4[0]

'one'

In [19]:
list4[0][0]#nested indexing - access the first character of the first list

'o'

In [20]:
list4[-1]#last item of the list

'three'

In [21]:
#slicing######

In [22]:
mylist = ['ayyappa','lavanaya''two','three','five']

In [23]:
mylist[0:3]# return all items from 0th to 3rd index location excluding the item

['ayyappa', 'lavanayatwo', 'three']

In [24]:
mylist[:2]#first two items

['ayyappa', 'lavanayatwo']

In [27]:
mylist[-3:]#return last three items

['lavanayatwo', 'three', 'five']

In [28]:
mylist[:]

['ayyappa', 'lavanayatwo', 'three', 'five']

In [29]:
#ADD,REMOVE & CHANGE ITEMS

In [30]:
mylist

['ayyappa', 'lavanayatwo', 'three', 'five']

In [31]:
mylist .append('seven')# adda an item in the list
mylist

['ayyappa', 'lavanayatwo', 'three', 'five', 'seven']

In [36]:
mylist.insert(4,'kushi')# add item at index location 3
mylist

['ayyappa', 'lavanayatwo', 'three', 'five', 'kushi', 'kushi', 'seven']

In [38]:
mylist.remove('kushi')#remove last item kushi
mylist

['ayyappa', 'lavanayatwo', 'three', 'five', 'seven']

In [39]:
mylist.pop()#remove last item of the list
mylist

['ayyappa', 'lavanayatwo', 'three', 'five']

In [40]:
del mylist[3]#remove item at index location 3
mylist

['ayyappa', 'lavanayatwo', 'three']

In [41]:
#CHANGE VALUE OF THE STRING

In [43]:
mylist[0] ='rey'
mylist[1] = 'ekkada'
mylist[2] = 'unnav'
mylist

['rey', 'ekkada', 'unnav']

In [44]:
mylist.clear()
mylist

[]

In [45]:
mylist = ['rey','em chesthunav','pandagaki','rava','one','two']

In [46]:
mylist1 = mylist#creat a new refrence "mylist1"

In [47]:
id(mylist),id(mylist)#the address of both mylist& mylist1 will be the same

(2149458454528, 2149458454528)

In [48]:
#JOIN LISTS

In [49]:
list1 = ['one', 'two', 'three', 'four'] 
list2 = ['five', 'six', 'seven', 'eight']

In [50]:
list3 = list1 + list2 # Join two lists by '+' operator 
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [51]:
#List Membership #

In [52]:
list1

['one', 'two', 'three', 'four']

In [53]:
'one' in list1

True

In [54]:
if 'three' in list1:
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [55]:
#Reverse & Sort List

In [56]:
list1

['one', 'two', 'three', 'four']

In [58]:
list1.reverse()
list1

['four', 'three', 'two', 'one']

In [59]:
list1 = list1[::-1] # Reverse the list 
list1

['one', 'two', 'three', 'four']

In [60]:
mylist3 = [9,5,2,99,12,88,34] 
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [61]:
mylist3 = [9,5,2,99,12,88,34] 
mylist3.sort(reverse=True) # Sort list in descending order 
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [62]:
#Loop through a list

In [63]:
list1

['one', 'two', 'three', 'four']

In [64]:
for i in list1:
    print(i)

one
two
three
four

In [65]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')

In [66]:
#Count

In [67]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three'] 
list10.count('one') # Number of times item "one" occurred in the list.

3

In [68]:
# ALL/ANY

In [69]:
L1 = [1,2,3,4,0] 
all(L1) # Will Return false as one value is false (Value 0) 
any(L1) # Will Return True as we have items in the list with True value 
L2 = [1,2,3,4,True,False] 
all(L2) # Returns false as one value is false

False