In [2]:
s = {}
s

{}

In [3]:
type(s)

dict

In [4]:
s1 =set()
s1

set()

In [5]:
type(s1)

set

In [ ]:
s1.add(20)#add any function
s1

{20}

In [ ]:
s1.add(30,20)#only one arugement take

TypeError: set.add() takes exactly one argument (2 given)

In [9]:
s1

{20}

In [11]:
s1.add(10)
s1.add(100)
s1.add(25)
s1

{10, 20, 25, 100}

In [13]:
s1.add(10)
s1

{10, 20, 25, 100}

In [14]:
s1[0]

TypeError: 'set' object is not subscriptable

In [15]:
s1

{10, 20, 25, 100}

In [16]:
s1[:]

TypeError: 'set' object is not subscriptable

In [17]:
s2 = set()
s2

set()

In [18]:
s2.add(10)
s2.add(1.2)
s2.add(1+2j)
s2.add(True)
s2.add('nit')
s2

{(1+2j), 1.2, 10, True, 'nit'}

In [19]:
print(s1)
print(s2)

{100, 25, 10, 20}
{1.2, True, (1+2j), 10, 'nit'}

In [20]:
id(s1) == id(s2)

False

In [21]:
s3 = s2.copy()
s3

{(1+2j), 1.2, 10, True, 'nit'}

In [22]:
s2 == s3

True

In [23]:
print(s1)
print(s2)
print(s3)

{100, 25, 10, 20}
{1.2, True, (1+2j), 10, 'nit'}
{1.2, True, (1+2j), 10, 'nit'}

In [24]:
s2.pop()

1.2

In [25]:
s2

{(1+2j), 10, True, 'nit'}

In [26]:
s2.pop()

True

In [29]:

s3

{1.2, 10, True, 'nit'}

In [32]:
s3

{10, True, 'nit'}

In [2]:
#SET OPREATION

#UNION

In [4]:
A={1,2,3,4,5,}
B={4,5,6,7,8,}
C={8,9,10}

In [5]:
A|B #UNION IS A AND B (ALL ELEMENTS FROM BOTH SIDES. NO DUPILICATES ALLOWED)

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
A.union(B,C) #UNION OF A,B AND C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
# INTER SECTION

In [9]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [10]:
A&B #INTERSECTION OF A AND AB (COMMON ITEMS IN BOTH SETS)

{4, 5}

In [11]:
A. intersection(B) intersection of A and B

SyntaxError: invalid syntax (2307706288.py, line 1)

In [12]:
#DIFFERENCE

In [13]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [14]:
A-B #SET OF ELEMENTS THAT ARE ONLY INN A BUT NOT IN B

{1, 2, 3}

In [15]:
A.difference(B)

{1, 2, 3}

In [16]:
B-A

{6, 7, 8}

In [17]:
#SYMMETRIC DIFFERENCE

In [19]:
A ={1,2,3,4,5,}
B={4,5,6,7,8,}

In [20]:
A^B # SYMMETRIC DIFFERENCE (SET OF ELEMENTS IN A AND B BUT NOT IN BOTH.)

{1, 2, 3, 6, 7, 8}

In [21]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [22]:
#SUBSET,SUPERSET & DISJOINT

In [23]:
A={1,2,3,4,5,6,7,8,9}
B={3,4,5,6,7,8}
C={10,20,30,40}

In [24]:
B.issubset(A)#SET B IS SAID TO BE THE SUBSET OF SET A IF ALLA ELEMENTS OF B ARE

True

In [25]:
A.issuperset(B) #set a is said to be the superset of set bif alla elements of b

True

In [26]:
C.isdisjoint(A) #TWO SETS ARE SAID TO BE DISJOINT SET IF THEY HAVE NO COMMON

True

In [27]:
B.isdisjoint(A)# two sets are said to be disjoint sets if they have no common

False

In [28]:
#OTHER BUILTIN FUNCTIONS

In [29]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
sum(A)

45

In [31]:
max(A)

9

In [32]:
min(B)

3

In [33]:
len(A)

9

In [36]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [40]:
D=sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]